
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Segoe UI', sans-serif;
}

.calculator {
    background: #222;
    padding: 20px;
    border-radius: 12px;
    width: 90%;
    max-width: 350px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
}

.display {
    background: #000;
    color: #0f0;
    font-size: 2rem;
    text-align: right;
    padding: 15px;
    border-radius: 6px;
    margin-bottom: 20px;
    min-height: 50px;
    word-wrap: break-word;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 6px;
    background: #444;
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #777;
}

.equal {
    grid-row: span 2;
    background: #0f0;
    color: #000;
}

.zero {
    grid-column: span 2;
}

@media (max-width: 400px) {
    .display {
        font-size: 1.5rem;
    }

    button {
        padding: 15px;
        font-size: 1rem;
    }

    
}